---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About Ryan Macalandag" description="Background, education and skills of Ryan Macalandag">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline=""
			>
				<img
					width="1800"
					height="873"
					src="/assets/at-work.jpg"
					alt="Ryan with Regina and Laya"
				/>
			</Hero>

			<section>
				<h2 class="section-title">About</h2>
				<div class="content">
					<p>
						I am a creative media developer with varied experience in working with brands, businesses and organisations
						in providing positively meaningful web, branding and media solutions.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Corporis voluptates tenetur laudantium.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p></p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		margin-bottom: 1rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60%;
			margin-bottom: 3rem ;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		img {
			margin-bottom: 4rem;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
