---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';
import BlogPreview from '../components/BlogPreview.astro';

const blogs = (await getCollection('blog')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="Blog | Ryan Macalandag"
	description="I write about the amnazing things that the design world has to offer."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Blog"
				tagline="I write about my passion in media, design and technology."
				align="start"
			/>
			<Grid variant="offset">
				{
					blogs.map((blog) => (
						<li>
							<BlogPreview blog={blog} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
